language: node_js
node_js:
  - "stable"

branches:
  only:
  - master

cache:
  directories:
  - node_modules

install:
  - npm install -g yarn

script:
  - yarn lint
  - yarn build
  - mv build/index.html/404.html  
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: build
  on:
    branch: master
